:root {
  --primary: #000;
  --secondary: #FFF;
  --font: #000;
  --accent: #FF5E5B;
  --shadow: 8px 8px 0px var(--primary);
  --error: #a02323;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}


.form-container {
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--primary);
  padding: 40px 30px;
  background-color: var(--secondary);
  box-shadow: var(--shadow);
  position: relative;
  border-radius: 12px;
  margin:auto;
  margin-top: 2rem;
}

.login-container::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: -6px;
  bottom: -6px;
  border: 1px solid var(--primary);
  z-index: -1;
  border-radius: 12px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--primary);
}

#user,#pw {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid var(--primary);
  background-color: var(--secondary);
  font-size: 16px;
  outline: none;
  transition: all 0.3s;
  color: #000;
}

#user:focus,#pw:focus {
  box-shadow: 4px 4px 0px var(--primary);
}

.btn{
  width: 100%;
  padding: 12px;
  background-color: var(--accent);
  color: var(--secondary);
  border: 2px solid var(--primary);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
}

.btn:hover {
  box-shadow: 4px 4px 0px var(--primary);
  transform: translate(-2px, -2px);
}

p{
  color: var(--error);
}